<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-3 list-fixed py-4">
      <h3>List of characters:</h3>
      <%= render "shared/search_bar" %>
      <div class="list-wrapper">
        <ul>
          <% @people.each do |person| %>
            <%= link_to person_path(person), remote: true do %>
              <li>
                <%= person.name %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-lg-9 py-4" id="show-person">
      <%= render "shared/crawl_animation" %>
    </div>
  </div>
</div>