<div class="container">
  <div class="row">
    <div class="col-3 list-fixed py-4">
      <h3>List of characters:</h3>
      <div class="list-wrapper">
        <ul>
          <% @people.each do |person| %>
            <%= link_to do %>
              <li>
                <%= person.name %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>