<div class="fade"></div>
<section class="star-wars">

  <div class="crawl">
    
    <div class="title">
      <p>Episode IV</p>
      <h1>A New Hope</h1>
    </div>
    
    <p>This project was entirely made by me, David Pessanha, after 1 week of hard work, debugging, coffee and searching.</p>     
    <p>During the battle, I've learned new things and increased my unit testing skills using RSPEC, which is something I'm very proud of</p>
    <p>It was a very fun project, I enjoyed working on it a lot and I believe I did my best!</p>

  </div>

</section>