<div id="intro"> A long time ago, in a galaxy far,<br> far away....</div>
<div id="logo"></div>
<div id="scroller">
  <div>
    <p>
      This project was made by me, 
      David Pessanha, after 1 week 
      of hard work, debugging, coffee 
      and searching.
    </p>
    <p>
      During the battle, I've learned 
      new ways to do things and increased 
      my unit testing skills using RSPEC, 
      which is something I'm very proud of.
    </p>
    <p>
      It was a very fun project, I enjoyed 
      working on it a lot and I believe I did 
      my best!
    </p>
  </div>
</div>