// Page general configuration

body { 
  background: url('star-bg.jpg') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3 {
  font-family: "Star Jedi";
  color:yellow;
}

a:hover {
  text-decoration: none;
}
