// Page general configuration

body { 
  background: url('https://media.giphy.com/media/xVn3ZmKrKIOLS/giphy.gif') repeat center fixed; 
  -webkit-background-size:inherit;
  -moz-background-size:inherit;
  -o-background-size:inherit;
  background-size:inherit;
}

h1, h2, h3 {
  font-family: "Star Jedi";
  color:yellow;
}

a:hover {
  text-decoration: none;
}
