.banner {
  padding: 10px 25px;
  text-align: center;
}

.banner a {
  color: yellow;
}

.banner h1 {
  font-size: 60px;
  color: yellow;
  margin: 0;
  line-height: 1;
}

.banner h1 span {
  color: white;
}

/* Banner responsivity */

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .banner h1 {
    font-size: 40px;
  }
}