.content-wrapper {
  height: 70vh;
}

.content-avatar {
  height: 100%;
}

.content-avatar img {
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: top;
  background-color: #0f0f0f8e;
}

.content-box p {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: white;
}

.content-box a {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: white;
  &:hover {
    background-color: white;
    color: #0f0f0f8e;
  }
}

.content-box h2 {
  margin:0;
}

.content-box h3 {
  font-size: 15px;
}

.content-header {
  background-color: #0f0f0f8e;
  padding: 0 8px;
}

.content-text {
  background-color: #0f0f0f8e;
  padding: 0 8px;
}
