ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

li {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: white;
  background-color: #0D0D0D;
  &:hover {
    color: #0D0D0D;
    background-color: white;
  }
}

.list-fixed{
  height: 70vh;
}

.list-wrapper {
  height:60vh;
  width: 300px;
  overflow:auto;
}

.list-fixed h3{
  color:yellow;
  font-size: 20px;
  padding-bottom: 10px;
}

/* List responsivity */

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .list-wrapper {
    height:30vh;
    width: 100%;
  }
}