ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

li {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: white;
  background-color: #0f0f0faf;
  &:hover {
    color: #0F0F0F;
    background-color: white;
  }
}

.list-fixed{
  height: 61vh;
  z-index: 1000;
}

.list-wrapper {
  height:100%;
  width: 300px;
  overflow:auto;
}

.list-fixed h3{
  font-size: 20px;
  padding-bottom: 10px;
}

/* List responsivity */

@media (max-width: 900px) {
  /* For a screen < 900px, this CSS will be read */
  .list-wrapper {
    height:30vh;
    width: 100vh;
  }

  .list-fixed{
    height: 30vh;
    z-index: 1000;
  }
}

@media (max-width: 700px) {
  /* For a screen < 700px, this CSS will be read */
  .list-wrapper {
    height:30vh;
    width: 100%;
  }

  .list-fixed{
    height: 50vh;
    z-index: 1000;
  }
}