ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

li {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.list-fixed{
  height: 450px;
}

.list-wrapper {
  height:440px;
  width: 300px;
  overflow:auto;
}